.container {
    flex: 1;
}

.nav {
    margin-bottom: 12px;
}

.navItem {
    font-size: 28px;
    cursor: pointer;
    color: #5baaff;
    &:hover {
        color: #ffffff;
    }
}

.navItemActive {
    color: #f9fcff;
}
