.container {
    border-radius: 4px;
    background: #f7f9fa;
    margin: 0 auto;
    width: 450px;
    padding: 30px;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #454545;
    text-align: left;
}

.title {
    margin: 0 0 18px;
    font-size: 20px;
    text-align: center;
}

.footer {
    button {
        border-radius: 4px;
        width: 100%;
        margin-bottom: 12px;
    }
}
