.dropdownToggle {
    color: #eaeaea;
    font-size: 18px;
    background: none !important;
    border: none !important;
}

.dropdownItem {
    display: flex;
    align-items: center;

    svg {
        font-size: 18px;
        color: #007aff;
    }

    span {
        padding-left: 8px;
    }
}
