.container {
    background: #ebebeb;
    position: absolute;
    bottom: 0;
    width: 100%;

    input {
        background: #ebebeb;
        padding: 18px 8px;
        border: 0;
        width: 100%;
        outline: none;
    }
}

.imagesInput {
    display: none;
}

.inputForm {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsWrapper {
    display: flex;
}

.inputMessageSubIcon {
    position: relative;
    margin: 0 14px;
    cursor: pointer;
    font-size: 24px;
    color: #b2b2b2;

    &:hover {
        color: #484848;
    }
}

.emojiPicker {
    position: absolute;
    right: -14px;
    bottom: 36px;
}

.inputMessageWrapper {
    margin: 0 14px;
    cursor: pointer;
    font-size: 24px;
    color: #b2b2b2;
}

.sendMessageButton {
    margin-left: 14px;
    cursor: pointer;
    font-size: 24px;
    color: #5baaff;

    &:hover {
        color: #007aff;
    }
}

.image {
    position: relative;
    padding: 8px;
    width: fit-content;

    img {
        width: auto;
        height: auto;
        max-height: 200px;
    }
}

.deleteImgButton {
    position: absolute;
    top: 12px;
    right: 14px;
}
