.container {
    width: auto;
    margin: 4px;
}

.imagesWrapper {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    block-size: auto;
}

.image {
    position: relative;

    img {
        width: 200px;
        height: auto;
    }
}

.searchPlusIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #007aff;
    opacity: 0.7;
}

.closeModalIcon {
    position: fixed;
    top: 54px;
    right: 58px;
    font-size: 24px;
}

.modalImg {
    width: auto;
    height: auto;
    max-height: 80vh;
    margin-top: 30px;
}
