.container {
    width: 0;
    transition: width 0.2s;
}

.isOpen {
    width: 30%;
}

.infoPanel {
    position: relative;
    background: #ffffff;
    box-shadow: 6px 0 12px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    text-align: right;
}

.button {
    background: #ffffff;
    border: 0;
    font-weight: 700;
    padding: 10px 16px;
}

.description {
    text-align: center;
}
