.container {
    background: #eaeaea;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.title {
    color: #454545;
    margin-bottom: 14px;
}
