.container {
    width: 100%;
}

.userImageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.formGroup {
    margin-bottom: 20px;

    input {
        padding: 8px 12px;
    }
}

.formLabel {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.formFooter {
    display: flex;
    justify-content: center;
    button {
        border-radius: 4px;
        width: 100px;
        margin-bottom: 12px;
    }
}

.userImageButton {
    background: #007aff;
    border: 1px solid #007aff;
    color: #faf7ff;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background: #faf7ff;
        border: 1px solid #007aff;
        color: #007aff;
        cursor: pointer;
        padding: 10px;
    }
}

.userImageAlt {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 18px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    color: #484848;
    background: rgb(0, 122, 255);
    background: linear-gradient(
        90deg,
        rgba(0, 122, 255, 1) 0%,
        rgba(0, 138, 255, 1) 32%,
        rgba(0, 122, 255, 0.6727065826330532) 100%
    );
}

.userImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
