.container {
    width: 80%;
    background: #f8f9fb;
    height: 100vh;
    display: flex;
}

.mainSection {
    position: relative;
    width: 100%;
}

.enterDialog {
    padding: 12px;
    border: 1px solid #007aff;
    background: #007aff;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: 0.5s;

    &:hover {
        background: #ffffff;
        color: #007aff;
    }
}
