.container {
    margin: 0 20px;
    font-size: 24px;
    font-style: normal;
}

.activeStar {
    color: #ffc600;
    margin-right: 2px;
}

.nonActiveStar {
    color: #ffe8ab;
    margin-right: 2px;
}
