.container {
    width: 20%;
    background: #007aff;
    height: 100vh;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 12px;

    h5 {
        color: #ebebeb;
        margin: 0;
    }
}

.inputSearch {
    width: 100%;
    margin: 10px 0;
}
