.container {
    display: flex;
    align-items: flex-end;
    margin: 0 20px;
}

.messageByClient {
    flex-direction: row;
}

.messageByOperator {
    flex-direction: row-reverse;
}

.message {
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.messageName {
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.messageUserName {
    color: #484848;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.messageOperatorName {
    color: #484848;
    background: rgb(0, 122, 255);
    background: linear-gradient(
        90deg,
        rgba(0, 122, 255, 1) 0%,
        rgba(0, 138, 255, 1) 32%,
        rgba(0, 122, 255, 0.6727065826330532) 100%
    );
}

.messageInner {
    margin: 0 12px 60px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    > div {
        width: fit-content;
    }

    p {
        text-align: left;
        margin: 0;
        padding: 16px 20px;
    }
}

.messageUserImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.messageContentOperator {
    background: #007aff;
    color: #d8ebf9;
    border-bottom-left-radius: 6px;
}

.messageContentClient {
    background: #eaeaea;
    color: #939393;
    border-bottom-right-radius: 6px;
}
