.formGroup {
    margin-bottom: 20px;

    input {
        padding: 8px 12px;
    }
}

.formLabel {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.formLabelPassword {
    display: flex;
    justify-content: space-between;
}

.formLinks {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.socialButtonsWrapper {
    display: flex;
    justify-content: space-between;
}

.socialButton {
    cursor: pointer;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    span {
        margin-left: 8px;
        font-size: 16px;
        font-weight: bold;
    }
}

.socialFb {
    border: 1px solid #3b5998;
    background: #3b5998;

    svg {
        color: #ffffff;
    }

    span {
        color: #ffffff;
    }

    &:hover {
        background: #ffffff;
        border: 1px solid #3b5998;

        span {
            color: #3b5998 !important;
        }
        svg {
            color: #3b5998;
        }
    }
}

.socialGoogle {
    border: 1px solid #ffffff;
    background: #ffffff;

    &:hover {
        border: 1px solid #dc4b38;
        background: #dc4b38;

        svg {
            color: #ffffff;
        }

        span {
            color: #ffffff;
        }
    }
}
