.container {
    padding: 20px;
    width: 100%;
    button {
        padding: 10px;
    }
}

.formInput {
    width: 80%;
    padding: 8px;
    margin: 6px 0;
}

.formBlock {
    display: flex;
    flex-direction: column;

    p {
        font-size: 18px;
        font-weight: 600;
    }
}

.formField {
    overflow: auto;
    max-height: 320px;
    min-height: 320px;
    margin-bottom: 20px;
}

.formFieldButton {
    padding: 12px;
}

.greeting {
    font-size: 18px;
    font-weight: 600;
}
