.container {
    position: absolute;
    width: 100%;
    box-shadow: -2px 4px 10px -3px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    > div {
        display: flex;
    }
}

.userName {
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 24px;
    user-select: none;
}

.iconButton {
    background: none;
    border: 0;
    font-size: 28px;
}

.deleteButton {
    svg {
        color: #0079ff;
        transition: transform 0.5s;
    }

    &:hover svg {
        color: #eb1026;
        transform: rotate(-12deg);
    }
}

.saveButton {
    svg {
        color: #5baaff;
        transition: 0.2s;
    }
    &:hover svg {
        color: #0079ff;
        transform: scale(1.1);
    }
}
