/* Project colors */
/* color blue: #007aff*/
/* color text : #454545*/
/* color text: #faf7ff*/
/* color text: #d4d4d4*/
/* color input message: #ebebeb*/

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #77b2fc;
}

.container {
    overflow: hidden;
    text-align: center;
    max-height: 100vh;
    height: 100vh;
}
