.container {
    height: inherit;

    > p {
        color: #f4f9ff;
        font-size: 22px;
    }
}

.dialogues {
    height: 730px;
    overflow: auto;
    margin: 0 4px;
}

.dialog {
    margin-bottom: 14px;
    cursor: pointer;
}

.dialogImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialogText {
    width: 68%;
    font-size: 14px;
    color: #f4f9ff;
    text-align: left;
    margin-left: 12px;

    p {
        margin: 0;
    }
}

.dialogMessage {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dialogCounter {
    margin: 0;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    background: #f4f9ff;
    color: #3e9aff;
}

.dialogInner {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.dialogActive {
    background: #3596ff;
}

.messageName {
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.messageUserName {
    color: #484848;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.messageUserImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.messageInner p {
    text-align: left;
    margin: 0;
    padding: 16px 20px;
}

.messageContentOperator {
    background: #007aff;
    color: #d8ebf9;
    border-bottom-left-radius: 6px;
}
