.container {
    cursor: pointer;
    background: #007aff;
    color: #faf7ff;
    padding: 6px 0px;
    transition: 0.5s;
    border: 1px solid #faf7ff;

    &:hover {
        background: #faf7ff;
        border: 1px solid #007aff;
        color: #007aff;
    }
}
